* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

header {
    background-color: #fcf8f8;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.local{
  color: #999999;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}


.limitado{
    width: 1500px; 
    text-align: justify; 
    padding: 10px; 
    margin: 20px auto; 
}



.espaço{
    color: #ffffff;
}

h2{
    font-size: 30px;
    text-align: center;
     margin: 20px; 
}

p{
    font-size: 30px;
}


img{
    width: 750px;
    height: 500px; 
    display: block; 
    margin: 0 auto;  
}

header img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#segundo {
    width: 300px;
    height: 50px;
    font-size: 25px;
  }

  #terceiro {
    width: 300px;
    height: 50px;
    font-size: 25px;
  }

  #quarto {
    width: 300px;
    height: 50px;
    font-size: 25px;
  }

  #quinto {
    width: 300px;
    height: 50px;
    font-size: 25px;
  }

  #primeiro {
    width: 300px;
    height: 50px;
    font-size: 25px;
  }

  #prime{
    width: 1500px; 
    text-align: justify; 
    padding: 10px; 
    margin: 20px auto;
  }

  #segun{
    width: 1500px; 
    text-align: justify; 
    padding: 10px; 
    margin: 20px auto;
  }

  #ter{
    width: 1500px; 
    text-align: justify; 
    padding: 10px; 
    margin: 20px auto;
  }

  #qua{
    width: 1500px; 
    text-align: justify; 
    padding: 10px; 
    margin: 20px auto;
  }

  #quin{
    width: 1500px; 
    text-align: justify; 
    padding: 10px; 
    margin: 20px auto;
  }

nav ul {
    list-style: none;
    padding: 0px;
    background-color: #ff3f3f;
    text-align: center;
}

ul li{
    font-size: 30px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #ff3f3f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
